<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.corrigan.owen.wordformed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/word"
        android:label="@string/app_name" >
        <activity
            android:name=".WordFormed"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HiScore"
            android:label="@string/high_score_title"/>
        <activity
            android:name=".HowToPlay"
            android:label="@string/how_to_play_title"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".MultiplayerGame"
            android:label="@string/multiplayer_game_title"/>
        <activity
            android:name=".SinglePlayerGame"
            android:screenOrientation="portrait"
            android:label="@string/single_player_title"/>
    </application>

</manifest>