<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.corrigan.owen.wordformed"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.VIBRATE"/>
     
    <application
        android:icon="@drawable/word2"
        android:label="@string/app_name" >
         
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".WordFormed"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".HiScoreActivity"
            android:screenOrientation="portrait"
            android:label="@string/high_score_title"/>
        <activity
            android:name=".HowToPlay"
            android:label="@string/how_to_play_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".MultiplayerGame"
            android:screenOrientation="portrait"
            android:label="@string/multiplayer_game_title"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".SinglePlayerGame"
            android:screenOrientation="portrait"
            android:label="@string/single_player_title"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="portrait"
            android:label="@string/single_player_title"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>